body {
  margin: 0;
}

h1 {
  text-align: center;
}

.top-btn-container{
  text-align: center;
}

.side-style-btn-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  width: 100px;
}

.side-edit-btn-container{
  display:flex;
  flex-direction: column;
  gap: 1em;
}

.space-evenly-div{
  width: 100px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1000px;
  border-radius: 80px;
  background-color: rgb(252, 59, 59);
  padding: 5em;
  box-shadow: 10px 10px 1px 1px rgb(65, 2, 2);;
}

button{
  background-color: white;
  border-radius: 10px;
  border: none;
  color: black;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: monospace;
  border: 1px solid black;
  box-shadow: 2px 4px 0 1px rgb(71, 71, 71);
}

button:hover{
  background-color: rgb(247, 247, 86);
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, auto);
  width: 600px;
  height: 600px;
  border: 1px solid black;
}

.grid-item {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid rgb(133, 133, 133);
  aspect-ratio: 1;
}
